<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="#{app.departments}"/>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>


<nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light pl-0">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand">
        <img src="../../resources/static/img/logo.svg"
             th:src="@{/resources/static/img/logo.svg}"
             width="64" height="32">
    </a>
    <div class="collapse navbar-collapse" id="navbarsNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active"
               href="departments.html"
               th:href="@{/departments}"
               th:text="#{app.departments}">
                <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link"
               href="employees.html"
               th:href="@{/employees}"
               th:text="#{app.employees}" />
        </div>
    </div>
</nav>

<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light text-dark">
        <a href = "departments.html" class="navbar-brand text-uppercase mr-auto"
          th:text="#{app.departments}"/>
        <ul class="p-0 pr-3 navbar-nav float-right">
            <li class="nav-item">
                <a href="department.html"
                   th:href="@{/department}"
                   class="pr-3 btn btn-light"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   th:title="#{department.add}">
                    <i class="fa fa-plus"></i>
                    <span class="pl-1 d-none d-sm-inline" th:text="#{app.addBtn}"></span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<section id="departments">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card" th:if="not ${departments.isEmpty()}">
                    <table class="table table-striped table-light">
                        <thead class="thead-inverse">
                        <tr>
                            <th th:text="#{department.titleColumn}"/>
                            <th th:text="#{department.avgSalColumn}"/>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="department : ${departments}">
                            <td th:text = "${department.departmentName}"></td>
                            <td th:text = "${department.avgSalary}"></td>
                            <td class="text-right">
                                <a th:title="#{department.edit}"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   href="department.html"
                                   th:href=" @{|/department/${department.departmentId}}"
                                   class="btn-sm btn-outline-secondary p-0 pl-1 pr-3">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline" th:text="#{app.editBtn}"/>
                                </a>
                                <span data-toggle="modal"
                                      data-target="#deleteDialog"
                                      th:attr="data-id=${department.departmentId},data-name=${department.departmentName}">
                                <a href="#"
                                   class="btn-sm btn-outline-secondary"
                                   th:title="#{department.delDepartment}"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-remove"></i> <span class="d-none d-md-inline" th:text="#{app.delBtn}"/>
                                </a>
                                </span>
                            </td>
                        </tr>
                        <tr th:remove = "all">
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Accounting</td>
                            <td>2500</td>
                            <td class="text-right">
                                <a title="Edit department"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   href="department.html"
                                   class="btn-sm btn-outline-secondary p-0 pl-1 pr-3">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline">Edit</span>
                                </a>
                                <span data-toggle="modal"
                                      data-target="#deleteDialog"
                                      th:attr="data-id=${department.departmentId},data-name=${department.departmentName}">
                                <a href="#" class="btn-sm btn-outline-secondary"
                                   title="Delete department"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-remove"></i> <span class="d-none d-md-inline">Delete</span></a>
                                </span>
                            </td>
                        </tr>
                        <tr th:remove = "all">
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;Development</td>
                            <td>1150</td>
                            <td class="text-right">
                                <a title="Edit department"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   href="department.html"
                                   class="btn-sm btn-outline-secondary p-0 pl-1 pr-3">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline">Edit</span>
                                </a>
                                <span data-toggle="modal"
                                      data-target="#deleteDialog"
                                      th:attr="data-id=${department.departmentId},data-name=${department.departmentName}">
                                <a href="#" class="btn-sm btn-outline-secondary"
                                   title="Delete department"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-remove"></i> <span class="d-none d-md-inline">Delete</span></a>
                                </span>
                            </td>
                        </tr>
                        <tr th:remove = "all">
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Java</td>
                            <td>1500</td>
                            <td class="text-right">
                                <a title="Edit department"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   href="department.html"
                                   class="btn-sm btn-outline-secondary p-0 pl-1 pr-3">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline">Edit</span>
                                </a>
                                <span data-toggle="modal"
                                      data-target="#deleteDialog"
                                      th:attr="data-id=${department.departmentId},data-name=${department.departmentName}">
                                <a href="#" class="btn-sm btn-outline-secondary"
                                   title="Delete department"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-remove"></i> <span class="d-none d-md-inline">Delete</span></a>
                                </span>
                            </td>
                        </tr>
                        <tr th:remove = "all">
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Testing</td>
                            <td>1100</td>
                            <td class="text-right">
                                <a title="Edit department"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   href="department.html"
                                   class="btn-sm btn-outline-secondary p-0 pl-1 pr-3">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline">Edit</span>
                                </a>
                                <span data-toggle="modal"
                                      data-target="#deleteDialog"
                                      th:attr="data-id=${department.departmentId},data-name=${department.departmentName}">
                                <a href="#" class="btn-sm btn-outline-secondary"
                                   title="Delete department"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-remove"></i> <span class="d-none d-md-inline">Delete</span></a>
                                </span>
                            </td>
                        </tr>
                        <tr th:remove = "all">
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;People management</td>
                            <td>800</td>
                            <td class="text-right">
                                <a title="Edit department"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   href="department.html"
                                   class="btn-sm btn-outline-secondary p-0 pl-1 pr-3">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline">Edit</span>
                                </a>
                                <span data-toggle="modal"
                                      data-target="#deleteDialog"
                                      th:attr="data-id=${department.departmentId},data-name=${department.departmentName}">
                                <a href="#" class="btn-sm btn-outline-secondary"
                                   title="Delete department"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-remove"></i> <span class="d-none d-md-inline">Delete</span></a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card alert alert-info" th:if="${departments.isEmpty()}">
                    <h2 th:text="#{app.empty}"/>
                </div>
                <div>
                    <a th:href="@{/departments?lang=en}">EN</a>
                    <a th:href="@{/departments?lang=ru}">RU</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="deleteDialog"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel"
                    th:text="#{department.delDepartment}"/>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" th:text="#{app.delConfirm}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{app.cancel}"></button>
                <a id="deleteUrl" href="#" class="btn btn-danger" th:text="#{app.delBtn}"></a>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$('#deleteDialog').on('show.bs.modal', function (event) {
    var target = $(event.relatedTarget)
    $(this).find('.modal-body').text('All employees of the department will be deleted. Please, confirm delete operation:' + ' "'
        + target.data('name') + ' department"')
    document.getElementById('deleteUrl').href = '/department/' + target.data('id') + '/delete';
})
</script>
</body>
</html>
