<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${isNew} ? #{employee.add} : #{employee.edit}"/>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/staticcss/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>

<nav class="pl-sm-2 navbar navbar-expand-sm navbar-dark bg-dark text-light p-0">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand">
        <img src="../../resources/static/img/logo.svg"
             th:src="@{/resources/static/img/logo.svg}"
             width="64" height="32">
    </a>
    <div class="collapse navbar-collapse" id="navbarsNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link"
               href="departments.html"
               th:href="@{/departments}"
               th:text="#{app.departments}"/>
            <a class="nav-item nav-link active"
               href="employees.html"
               th:href="@{/employees}"
               th:text="#{app.employees}"/>
            <span class="sr-only">(current)</span>
        </div>
    </div>
</nav>

<header>
    <nav class="mb-2 navbar navbar-expand-sm navbar-light bg-light text-dark">

        <ul class="navbar-nav float-lg-left">
            <li class="nav-item"
                th:title="#{app.tooltipBack}"
                data-toggle="tooltip"
                data-placement="bottom">
                <a href="employees.html"
                   th:href="@{/employees}"
                   class="btn btn-light btn-block">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </li>
        </ul>

        <span class="navbar-brand text-uppercase mr-auto"
              th:text="${isNew} ? #{employee.add} : #{employee.edit}"/>


        <ul class="p-0 pr-3 navbar-nav">
            <li class="nav-item">
                <a href="employees.html"
                   th:href="@{/employees}"
                   th:onclick="@{document.forms['employeeForm'].submit(); return false;}"
                   class="btn btn-light"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   th:title="#{app.save}">
                    <i class="fa fa-save"></i>
                    <span class="pl-1 d-none d-sm-inline" th:text="#{app.save}"/>
                </a>
            </li>
        </ul>
    </nav>
</header>


<section id="employee">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form id="employeeForm"
                              th:object="${employee}"
                              action="employees.html"
                              th:action="@{${#httpServletRequest.servletPath}}"
                              th:method="@{post}">
                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                <p th:text="#{app.fix}"/>
                            </div>
                            <input id="field_employeeId"
                                   name="field_employeeId"
                                   type="hidden"
                                   th:field="*{employeeId}">

                            <div class="form-group"
                                 th:class="${#fields.hasErrors('*')} ? 'form-group is-invalid' : 'form-group'">

                                <label class="form-control-label"
                                       for="departmentIdInput" th:text="#{employee.dept}"/>
                                <select class="form-control" id="departmentIdInput"
                                        th:field="*{departmentId}">
                                    <option th:each="department : ${departments}"
                                            th:value="${department.departmentId}"
                                            th:text="${department.departmentName}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group"
                                 th:class="${#fields.hasErrors('employeeName')} ? 'form-group is-invalid' : 'form-group'">
                                <label class="form-control-label"
                                       for="employeeNameInput"
                                       th:text="#{employee.name}"/>
                                <input type="text"
                                       class="form-control"
                                       id="employeeNameInput"
                                       th:placeholder="#{employee.empName}"
                                       th:field="*{employeeName}">
                                <div class="form-text text-danger"
                                     th:if="${#fields.hasErrors('employeeName')}"
                                     th:errors="*{employeeName}">[errors]
                                </div>
                            </div>

                            <div class="form-group"
                                 th:class="${#fields.hasErrors('employeeMail')} ? 'form-group is-invalid' : 'form-group'">
                                <label class="form-control-label"
                                       for="employeeMailInput"
                                       th:text="#{employee.mail}"/>
                                <input type="text"
                                       class="form-control"
                                       id="employeeMailInput"
                                       th:placeholder="#{employee.mail}"
                                       th:field="*{employeeMail}">
                                <div class="form-text text-danger"
                                     th:if="${#fields.hasErrors('employeeMail')}"
                                     th:errors="*{employeeMail}">[errors]
                                </div>
                            </div>

                            <div class="form-group"
                                 th:class="${#fields.hasErrors('salary')} ? 'form-group is-invalid' : 'form-group'">
                                <label class="form-control-label"
                                       for="employeeSalaryInput"
                                       th:text="#{employee.salary}"/>
                                <input type="number"
                                       class="form-control"
                                       id="employeeSalaryInput"
                                       th:placeholder="#{employee.salary}"
                                       th:field="*{salary}">
                                <div class="form-text text-danger"
                                     th:if="${#fields.hasErrors('salary')}"
                                     th:errors="*{salary}">[errors]
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a th:href="@{/employee?lang=en}">EN</a>
            <a th:href="@{/employee?lang=ru}">RU</a>
        </div>
    </div>

</section>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })</script>
</body>
</html>
